In [1]:
from otto import Otto

# Altitude 0 m

## AVGas

In [2]:
parametros_projeto_0 = {
        'combustivel': 'AVGas',
        'p1': 101000,
        't1': 293,
        'cr': 8.7,
        'rpm': 2700,
        'proporcao_mistura': 1/14.7,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 2.2 * (10**6), # calor de reacao do  avgas
        'altitude': 0,
        'mf': 1.0
        
    }
otto_projeto_0 = Otto(**parametros_projeto_0)
estados_df_projeto_0, eficiencia_df_projeto_0 = otto_projeto_0.resumo()

Estados calculados com sucesso

In [3]:
estados_df_projeto_0

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  2.087605e+06       696.105911     0.095699
2  Estado 3  1.128948e+07      3764.446218     0.095699
3  Estado 4  5.461943e+05      1584.504204     0.832584

In [4]:
eficiencia_df_projeto_0

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,AVGas,0.579087,1.728888e+06,345042.862191,0.000003

## Etanol

In [5]:
parametros_projeto_0 = {
        'combustivel': 'Etanol',
        'p1': 101000,
        't1': 293,
        'cr': 10,
        'rpm': 2700,
        'proporcao_mistura': 1/9,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 2.97 * (10**6), # calor de reacao do  avgas
        'altitude': 0,
        'mf': 1.0
        
    }
otto_projeto_0 = Otto(**parametros_projeto_0)
estados_df_projeto_0, eficiencia_df_projeto_0 = otto_projeto_0.resumo()

Estados calculados com sucesso

In [6]:
estados_df_projeto_0

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  2.537005e+06       735.982724     0.083258
2  Estado 3  1.681578e+07      4878.242139     0.083258
3  Estado 4  6.694484e+05      1942.063175     0.832584

In [7]:
eficiencia_df_projeto_0

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,Etanol,0.601893,2.385640e+06,476114.166639,0.000002

## H_2

In [8]:
parametros_projeto_0 = {
        'combustivel': 'Hidrogenio',
        'p1': 101000,
        't1': 293,
        'cr': 12,
        'rpm': 2700,
        'proporcao_mistura': 1/34,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 3.52 * (10**6), # calor de reacao do  avgas
        'altitude': 0,
        'mf': 1.0
        
    }
otto_projeto_0 = Otto(**parametros_projeto_0)
estados_df_projeto_0, eficiencia_df_projeto_0 = otto_projeto_0.resumo()

Estados calculados com sucesso

In [9]:
estados_df_projeto_0

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  3.274727e+06       791.662583     0.069382
2  Estado 3  2.358232e+07      5701.007074     0.069382
3  Estado 4  7.273322e+05      2109.983608     0.832584

In [10]:
eficiencia_df_projeto_0

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,Hidrogenio,0.629893,2.905158e+06,579796.890868,0.000002

## Altitude 3000 m

## AVGas

In [11]:
parametros_projeto_3000 = {
        'combustivel': 'AVGas',
        'p1': 70121,
        't1': 268.7,
        'cr': 8.7,
        'rpm': 2700,
        'proporcao_mistura': 1/14.7,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 2.2 * (10**6), # calor de reacao do  avgas
        'altitude': 3000,
        'mf': 1.0
        
    }
otto_projeto_3000 = Otto(**parametros_projeto_3000)
estados_df_projeto_3000, eficiencia_df_projeto_3000 = otto_projeto_3000.resumo()

Estados calculados com sucesso

In [12]:
estados_df_projeto_3000

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  7.012100e+04       268.700000     1.099769
1  Estado 2  1.449356e+06       638.374260     0.126410
2  Estado 3  8.415673e+06      3706.714567     0.126410
3  Estado 4  4.071570e+05      1560.204204     1.099769

In [13]:
eficiencia_df_projeto_3000

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,AVGas,0.579087,1.308861e+06,261215.972325,0.000004

## Etanol

In [14]:
parametros_projeto_3000 = {
        'combustivel': 'etanol',
        'p1': 70121,
        't1': 268.7,
        'cr': 10,
        'rpm': 2700,
        'proporcao_mistura': 1/9,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 2.97 * (10**6), # calor de reacao do  avgas
        'altitude': 3000,
        'mf': 1.0
        
    }
otto_projeto_3000 = Otto(**parametros_projeto_3000)
estados_df_projeto_3000, eficiencia_df_projeto_3000 = otto_projeto_3000.resumo()

Estados calculados com sucesso

In [15]:
estados_df_projeto_3000

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  7.012100e+04       268.700000     1.099769
1  Estado 2  1.761360e+06       674.943884     0.109977
2  Estado 3  1.257116e+07      4817.203298     0.109977
3  Estado 4  5.004670e+05      1917.763175     1.099769

In [16]:
eficiencia_df_projeto_3000

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,etanol,0.601893,1.806058e+06,360443.987123,0.000003

## H_2

In [17]:
parametros_projeto_3000 = {
        'combustivel': 'Hidrogenio',
        'p1': 70121,
        't1': 268.7,
        'cr': 12,
        'rpm': 2700,
        'proporcao_mistura': 1/34,
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 3.52 * (10**6), # calor de reacao do  avgas
        'altitude': 3000,
        'mf': 1.0
        
    }
otto_projeto_3000 = Otto(**parametros_projeto_3000)
estados_df_projeto_3000, eficiencia_df_projeto_3000 = otto_projeto_3000.resumo()

Estados calculados com sucesso

In [18]:
estados_df_projeto_3000

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  7.012100e+04       268.700000     1.099769
1  Estado 2  2.273536e+06       726.005925     0.091647
2  Estado 3  1.764748e+07      5635.350416     0.091647
3  Estado 4  5.442881e+05      2085.683608     1.099769

In [19]:
eficiencia_df_projeto_3000

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,Hidrogenio,0.629893,2.199361e+06,438937.376178,0.000002