In [17]:
from otto import Otto

In [2]:
parametros = {
        'combustivel': 'Gasolina',
        'p1': 101000,
        't1': 293,
        'cr': 8,
        'rpm': 4500,
        'proporcao_mistura': 0.043,
        'vh': 0.005,
        'cv': 717,
        'cp': 1005,
        'calor_reacao': 1.87 * 10**6,
        'altitude': 0,
        'mf': 1
    }
    
otto = Otto(**parametros)
estados_df, eficiencia_df = otto.resumo()

Estados calculados com sucesso
self.ql=813964.7766818764
self.w_net=1056035.2233181237
self.ql=813964.7766818764
self.w_net=1056035.2233181237
self.ql=813964.7766818764
self.w_net=1056035.2233181237

In [3]:
estados_df

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  1.856297e+06       673.137236     0.104073
2  Estado 3  9.048570e+06      3281.226497     0.104073
3  Estado 4  4.923274e+05      1428.236788     0.832584

In [4]:
eficiencia_df

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,Gasolina,0.564725,1.449580e+06,271796.262098,0.000004

In [12]:
parametros_3000 = {
        'combustivel': 'Gasolina',
        'p1': 70121,
        't1': 268.7,
        'cr': 8,
        'rpm': 4500,
        'proporcao_mistura': 0.043,
        'vh': 0.005,
        'cv': 717,
        'cp': 1005,
        'calor_reacao': 1.87 * 10**6,
        'altitude': 3000,
        'mf': 1.0
    }
    
otto_3000 = Otto(**parametros_3000)
estados_df_3000, eficiencia_df_3000 = otto_3000.resumo()

Estados calculados com sucesso
self.ql=813964.7766818763
self.w_net=1056035.2233181237
self.ql=813964.7766818763
self.w_net=1056035.2233181237
self.ql=813964.7766818763
self.w_net=1056035.2233181237

In [13]:
estados_df_3000

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  7.012100e+04       268.700000     1.099769
1  Estado 2  1.288766e+06       617.310496     0.137471
2  Estado 3  6.733703e+06      3225.399757     0.137471
3  Estado 4  3.663768e+05      1403.936788     1.099769

In [7]:
eficiencia_df_3000

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,Gasolina,0.564725,1.097410e+06,205764.363382,0.000005

In [8]:
ql = 717 * (1403 - 293)
ql

795870

### Projeto 1

In [36]:
parametros_projeto_0 = {
        'combustivel': 'AVGas',
        'p1': 101000,
        't1': 293,
        'cr': 8.7,
        'rpm': 2700,
        'proporcao_mistura': 1/20, # Proporcao de 1/20 para avgas
        'vh': 0.00887, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1005, # Valor de cp padrao
        'calor_reacao': 2.2 * (10**6), # calor de reacao do  avgas
        'altitude': 0,
        'mf': 1.0
        
    }
    
otto_projeto_0 = Otto(**parametros_projeto_0)
estados_df_projeto_0, eficiencia_df_projeto_0 = otto_projeto_0.resumo()

Estados calculados com sucesso
self.ql=926008.5140868889
self.w_net=1273991.4859131111
self.ql=926008.5140868889
self.w_net=1273991.4859131111
self.ql=926008.5140868889
self.w_net=1273991.4859131111

In [33]:
estados_df_projeto_0

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  2.087605e+06       696.105911     0.095699
2  Estado 3  1.128948e+07      3764.446218     0.095699
3  Estado 4  5.461943e+05      1584.504204     0.832584

In [34]:
eficiencia_df_projeto_0

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,AVGas,0.579087,1.728888e+06,345042.862191,0.000003

## Trabalho mandado no wpp
- CR = 10
-