In [1]:
from otto import Otto

In [8]:
parametros_projeto_0 = {
        'combustivel': 'AVGas',
        'p1': 101000,
        't1': 293,
        'cr': 8,
        'rpm': 4500,
        'proporcao_mistura': 0.043,
        'vh': 0.005, # Dados do motor do ipanema
        'cv': 717, # Valor de cv padrao
        'cp': 1004, # Valor de cp padrao
        'calor_reacao': 1.87 * (10**6), # calor de reacao do  avgas
        'altitude': 0,
        'mf': 0.261
        
    }
otto_projeto_0 = Otto(**parametros_projeto_0)
estados_df_projeto_0, eficiencia_df_projeto_0 = otto_projeto_0.resumo()

Estados calculados com sucesso

In [9]:
estados_df_projeto_0

     Estado  Pressão (Pa)  Temperatura (K)  Volume (m³)
0  Estado 1  1.010000e+05       293.000000     0.832584
1  Estado 2  1.856297e+06       673.137236     0.104073
2  Estado 3  9.048570e+06      3281.226497     0.104073
3  Estado 4  4.923274e+05      1428.236788     0.832584

In [10]:
eficiencia_df_projeto_0

,Combustível,Eficiência Térmica %,MEP (KPa),Potência no Eixo (W),Consumo Especifico
0,AVGas,0.564725,1.449580e+06,271796.262098,3457.001184